extends ../components/base/layout

block variables
  - const title = 'Sitemap';
  - const noHeader = true;
  - const noFooter = true;
  -
    const pages = [
      {
        name: "UI-kit — ui-kit.html",
        src: "ui-kit.html"
      },
      {
        name: "Main — index.html",
        src: "index.html"
      },
    ]

block main
  main
    .container
      h1 Sitemap
      ol
        each page in pages
          li
            a(href=page.src)= page.name
